html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, section,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    list-style: none;
}

/*variables*/
$front-font: 'Muli', sans-serif; 
$back-font: 'Quicksand', sans-serif;
$color-frontText: #030100;
$color-lines: #E4E4EA;
$color-backText: #B4B4BB;
$color-link: #404047;
$color-details: #515BEF;

/*mixins*/
@mixin container{
    width: 75%;
    margin: 0 auto;
}

@mixin buttom{
    font-family: $front-font;
    font-size: 13px;
    background-color: #515BEF;
    color: #E4E4EA;
    text-decoration: none;
    padding: 10px;
    margin-right: 15px;
    &:hover{
        color: #515BEF;
        background-color: #E4E4EA;
        border: 1px solid #515BEF;
    }
    
}

body{
    @import "components/header";
    @import "components/welcome";
}
    
     
    





