
/*variables*/
$front-font: 'Muli', sans-serif; 
$back-font: 'Quicksand', sans-serif;
$color-frontText: #030100;
$color-backText: #827F7E;
$color-link: #404047;
$color-details: #515BEF;

/*mixins*/

body{
    width: 100vh;

    .container{
        width: 80%;
        margin: 0 auto;
        
    }

}

